@{
    ViewBag.Title = "Responsive Images with CSS";
}
<div id="indexPage">
    <div>
        <h2>
            Responsive Images with CSS
        </h2>
    </div>
    <div id="imgZone">
        <img src="/Content/Images/nahid.jpg" alt="Nahid Vhai" class="img-resp" />
    </div>
    <hr/>
    <div id="imgZone2" class="img-resp-bg" >
        <a href="#">Dhaka</a>
        <a href="#">Jossor</a>
        <a href="#">Khulna</a>
        <a href="#">Rangpur</a>
    </div>
</div>
<style type="text/css">

    
</style>
